body {
  font-family: Arial, sans-serif;
  direction: rtl;
  text-align: right;
  padding: 10px;
}

header {
  background: #333;
  color: white;
  padding: 15px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

#banner {
  background-color: #f1f1f1;
  padding: 20px;
  margin-top: 10px;
}

#categories {
  margin-top: 30px;
}

footer {
  margin-top: 50px;
  text-align: center;
  font-size: 0.9em;
}
